/* CSS Document */
*{margin:0; padding:0;}
body{margin:0; padding:0;}
#wrap{width:1275px; height:675px; background-image:url(../images/wel-bg.png); margin:0 auto;}
#in{width:400px; height:250px; border:10px double #1D6581; border-radius:20px; float:left; margin-top:150px; margin-left:150px;}
#welcome{width:200px; height:130px; margin:130px 100px; float:left; margin-top:80px; margin-left:80px; font-family:"华文彩云"; font-size:18px;}
#into{margin-left:300px; margin-bottom:0px; border-radius:5px; background-color:RGB(255,251,222); padding:5px; letter-spacing:2px; font-family:"华文琥珀"; font-size:24px;}
